

body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   color: #333;
 }
 

 .Main {
   min-height: 900px;
   border: 2px solid green;
   flex: auto;
   margin-left: 5px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   select {
      height: 35px;
      border-radius: 5px;
      width: 97%;
   }
   h1 {
     font-size: 24px;
     margin-bottom: 20px;
   }
 
   p {
     margin-top: 5px;
     color: #777;
   }
 
   width: 80%;
   max-width: 500px; 
   margin: 0 auto; 

   div {
     margin-bottom: 20px; 
     display: flex;
     flex-direction: column;
     
     label {
       margin-bottom: 5px; 
       font-weight: bold;
     }

     p { 
       color: red; 
       font-size: 12px;
     }
   }

   input {
     padding: 10px 15px; 
     width: 90%;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px; 
     &:focus {
       border-color: #007BFF; 
       outline: none;
     }
   }

   button {
     width: 100%;
     padding: 10px 15px;
     background-color: #007BFF;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px; 
     &:hover {
       background-color: #0056b3;
     }
   }
 }

 
 
 